.Pjbs .media-right a,
.Tjbs .media-right a {
    background: url(../../company_logos/sprt/stj-1-1700293205.jpg);
    repeat scroll 0 0 transparent;
}

.Pjbs .media-right a.tj000,
.Tjbs .media-right a.tj000 {
    background-position: 0 0
}

.Pjbs .media-right a.tjPrivate,
.Tjbs .media-right a.tjPrivate {
    background-position: -90px 0
}

.Pjbs .media-right a.tj4337,
.Tjbs .media-right a.tj4337 {
    background-position: 0 -41px
}

.Pjbs .media-right a.tj5289,
.Tjbs .media-right a.tj5289 {
    background-position: -90px -41px
}

.Pjbs .media-right a.tj5305,
.Tjbs .media-right a.tj5305 {
    background-position: -180px -41px
}

.Pjbs .media-right a.tj6508,
.Tjbs .media-right a.tj6508 {
    background-position: 0 -82px
}

.Pjbs .media-right a.tj7159,
.Tjbs .media-right a.tj7159 {
    background-position: -90px -82px
}

.Pjbs .media-right a.tj8584,
.Tjbs .media-right a.tj8584 {
    background-position: -180px -82px
}

.Pjbs .media-right a.tj15204,
.Tjbs .media-right a.tj15204 {
    background-position: 0 -123px
}

.Pjbs .media-right a.tj19776,
.Tjbs .media-right a.tj19776 {
    background-position: -90px -123px
}

.Pjbs .media-right a.tj22460,
.Tjbs .media-right a.tj22460 {
    background-position: -180px -123px
}

.Pjbs .media-right a.tj29703,
.Tjbs .media-right a.tj29703 {
    background-position: 0 -164px
}

.Pjbs .media-right a.tj45854,
.Tjbs .media-right a.tj45854 {
    background-position: -90px -164px
}

.Pjbs .media-right a.tj48822,
.Tjbs .media-right a.tj48822 {
    background-position: -180px -164px
}

.Pjbs .media-right a.tj50522,
.Tjbs .media-right a.tj50522 {
    background-position: 0 -205px
}

.Pjbs .media-right a.tj54539,
.Tjbs .media-right a.tj54539 {
    background-position: -90px -205px
}

.Pjbs .media-right a.tj54735,
.Tjbs .media-right a.tj54735 {
    background-position: -180px -205px
}

.Pjbs .media-right a.tj56719,
.Tjbs .media-right a.tj56719 {
    background-position: 0 -246px
}

.Pjbs .media-right a.tj65664,
.Tjbs .media-right a.tj65664 {
    background-position: -90px -246px
}

.Pjbs .media-right a.tj70312,
.Tjbs .media-right a.tj70312 {
    background-position: -180px -246px
}

.Pjbs .media-right a.tj73676,
.Tjbs .media-right a.tj73676 {
    background-position: 0 -287px
}

.Pjbs .media-right a.tj73830,
.Tjbs .media-right a.tj73830 {
    background-position: -90px -287px
}

.Pjbs .media-right a.tj77230,
.Tjbs .media-right a.tj77230 {
    background-position: -180px -287px
}

.Pjbs .media-right a.tj90718,
.Tjbs .media-right a.tj90718 {
    background-position: 0 -328px
}

.Pjbs .media-right a.tj178770,
.Tjbs .media-right a.tj178770 {
    background-position: -90px -328px
}

.Pjbs .media-right a.tj229218,
.Tjbs .media-right a.tj229218 {
    background-position: -180px -328px
}

.Pjbs .media-right a.tj243452,
.Tjbs .media-right a.tj243452 {
    background-position: 0 -369px
}

.Pjbs .media-right a.tj271626,
.Tjbs .media-right a.tj271626 {
    background-position: -90px -369px
}

.Pjbs .media-right a.tj311170,
.Tjbs .media-right a.tj311170 {
    background-position: -180px -369px
}

.Pjbs .media-right a.tj342898,
.Tjbs .media-right a.tj342898 {
    background-position: 0 -410px
}

.Pjbs .media-right a.tj346484,
.Tjbs .media-right a.tj346484 {
    background-position: -90px -410px
}

.Pjbs .media-right a.tj351270,
.Tjbs .media-right a.tj351270 {
    background-position: -180px -410px
}

.Pjbs .media-right a.tj373138,
.Tjbs .media-right a.tj373138 {
    background-position: 0 -451px
}

.Pjbs .media-right a.tj376356,
.Tjbs .media-right a.tj376356 {
    background-position: -90px -451px
}

.Pjbs .media-right a.tj380790,
.Tjbs .media-right a.tj380790 {
    background-position: -180px -451px
}

.Pjbs .media-right a.tj384712,
.Tjbs .media-right a.tj384712 {
    background-position: 0 -492px
}

.Pjbs .media-right a.tj396278,
.Tjbs .media-right a.tj396278 {
    background-position: -90px -492px
}

.Pjbs .media-right a.tj402144,
.Tjbs .media-right a.tj402144 {
    background-position: -180px -492px
}

.Pjbs .media-right a.tj412138,
.Tjbs .media-right a.tj412138 {
    background-position: 0 -533px
}

.Pjbs .media-right a.tj431530,
.Tjbs .media-right a.tj431530 {
    background-position: -90px -533px
}

.Pjbs .media-right a.tj438916,
.Tjbs .media-right a.tj438916 {
    background-position: -180px -533px
}

.Pjbs .media-right a.tj457580,
.Tjbs .media-right a.tj457580 {
    background-position: 0 -574px
}

.Pjbs .media-right a.tj478616,
.Tjbs .media-right a.tj478616 {
    background-position: -90px -574px
}

.Pjbs .media-right a.tj479744,
.Tjbs .media-right a.tj479744 {
    background-position: -180px -574px
}

.Pjbs .media-right a.tj483206,
.Tjbs .media-right a.tj483206 {
    background-position: 0 -615px
}

.Pjbs .media-right a.tj493151,
.Tjbs .media-right a.tj493151 {
    background-position: -90px -615px
}

.Pjbs .media-right a.tj494597,
.Tjbs .media-right a.tj494597 {
    background-position: -180px -615px
}

.Pjbs .media-right a.tj496793,
.Tjbs .media-right a.tj496793 {
    background-position: 0 -656px
}

.Pjbs .media-right a.tj501081,
.Tjbs .media-right a.tj501081 {
    background-position: -90px -656px
}

.Pjbs .media-right a.tj502253,
.Tjbs .media-right a.tj502253 {
    background-position: -180px -656px
}

.Pjbs .media-right a.tj502345,
.Tjbs .media-right a.tj502345 {
    background-position: 0 -697px
}

.Pjbs .media-right a.tj507045,
.Tjbs .media-right a.tj507045 {
    background-position: -90px -697px
}

.Pjbs .media-right a.tj507267,
.Tjbs .media-right a.tj507267 {
    background-position: -180px -697px
}

.Pjbs .media-right a.tj507291,
.Tjbs .media-right a.tj507291 {
    background-position: 0 -738px
}

.Pjbs .media-right a.tj507957,
.Tjbs .media-right a.tj507957 {
    background-position: -90px -738px
}

.Pjbs .media-right a.tj508257,
.Tjbs .media-right a.tj508257 {
    background-position: -180px -738px
}

.Pjbs .media-right a.tj508301,
.Tjbs .media-right a.tj508301 {
    background-position: 0 -779px
}

.Pjbs .media-right a.tj508489,
.Tjbs .media-right a.tj508489 {
    background-position: -90px -779px
}

.Pjbs .media-right a.tj22108,
.Tjbs .media-right a.tj22108 {
    background-position: -180px -779px
}

.Pjbs .media-right a.tj2250,
.Tjbs .media-right a.tj2250 {
    background-position: 0 -820px
}

.Pjbs .media-right a.tj396580,
.Tjbs .media-right a.tj396580 {
    background-position: -90px -820px
}

.Pjbs .media-right a.tj280592,
.Tjbs .media-right a.tj280592 {
    background-position: -180px -820px
}

.Pjbs .media-right a.tj297378,
.Tjbs .media-right a.tj297378 {
    background-position: 0 -861px
}

.Pjbs .media-right a.tj40346,
.Tjbs .media-right a.tj40346 {
    background-position: -90px -861px
}

.Pjbs .media-right a.tj311524,
.Tjbs .media-right a.tj311524 {
    background-position: -180px -861px
}

.Pjbs .media-right a.tj282534,
.Tjbs .media-right a.tj282534 {
    background-position: 0 -902px
}

.Pjbs .media-right a.tj53030,
.Tjbs .media-right a.tj53030 {
    background-position: -90px -902px
}

.Pjbs .media-right a.tj12808,
.Tjbs .media-right a.tj12808 {
    background-position: -180px -902px
}

.Pjbs .media-right a.tj124800,
.Tjbs .media-right a.tj124800 {
    background-position: 0 -943px
}

.Pjbs .media-right a.tj14744,
.Tjbs .media-right a.tj14744 {
    background-position: -90px -943px
}

.Pjbs .media-right a.tj50594,
.Tjbs .media-right a.tj50594 {
    background-position: -180px -943px
}

.Pjbs .media-right a.tj498051,
.Tjbs .media-right a.tj498051 {
    background-position: 0 -984px
}

.Pjbs .media-right a.tj,
.Tjbs .media-right a.tj {
    background-position: -90px -984px
}

.Pjbs .media-right a.tj,
.Tjbs .media-right a.tj {
    background-position: -180px -984px
}